.header{
    background-color: #1C2B35;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
.header img{
    padding-left: 70px;
}
.header nav a{
    text-decoration: none;
    padding-right: 40px;
    color: white;
}
.header nav a:hover{
    color:orange;
}